.home-div {
    width: 100%;
    height: 100%;
}

.mail-it-header {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin: 20px 0;
  }
  
  .mail-it-header:hover {
    color: #999;
  }
  
  .mail-it-header span {
    color: #f60;
  }
  

.flagImg{
    display: block;
    margin: auto;
    width: 50vh;
}

.text-editor-div{
    border: 1px solid black;
    padding: 5px;
}

.dropdowns {
    border-bottom: 1px solid black;
}
@media (max-width: 600px) {
    /* styles to apply when viewport width is less than 600px */
    .flagImg{
        width: 97%;
        display: block;
        margin: auto;
    }
  }
  